html {
    font-family: "Open Sans";
}
body {
    margin: 0;
}

.icon {
    max-width: 7.5rem;
    min-width: 3.125rem;
}

.nav {
    padding-left: 1.5rem;
}

nav, .nav__list {
    display: flex;
    list-style: none;
    align-items: baseline;
}



.nav__list {
    justify-content: flex-end;
    width: 100%;
}

.nav__title a{
    text-decoration: none;
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
}

.header__link a{
    font-size: 1.3125rem;
    font-weight: 400;
    text-decoration: none;
    color: #393939;
    /* margin-right: 2rem; */
    padding-right: 2rem;
    padding-left: 1rem;
}

.header__link--blue a{
    color: #5bacc3;
}