html {
    font-family: "Open Sans";
}

.icon {
    max-width: 7.5rem;
    min-width: 3.125rem;
}

.nav {
    padding-left: 1rem;
}

.header__link, .nav__title, .nav__list {
    display: inline-block;
    list-style: none;
}

.nav__title a{
    text-decoration: none;
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
}

.header__link a{
    font-size: 1.3125rem;
    font-weight: 400;
    text-decoration: none;
    color: #393939;
    /* margin-right: 2rem; */
    padding-right: 1.25rem;
}

.header__link--blue a{
    color: #5bacc3;
}