html {
    font-family: "Open Sans";
}

/* can be in global */
.icon {
    max-width: 7.5rem;
    min-width: 3.125rem;
}

nav, header div{
    background-color: #fff0ed;
}

.product {
    min-height: 15rem;
    max-height: 34.375rem;
}

nav h2 a, section h3, .price, footer h3{
    text-decoration: none;
    font-size: 2.0625rem;
    font-weight: 300;
    color: #393939;
}

/* can be in global */
nav ul li a{
    font-size: 1.3125rem;
    font-weight: 400;
}

/* can be in global */
nav ul {
    list-style: none;
}

div h1, section h2 {
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
}

div p{
    font-size: 1.125rem;
    font-weight: 400;
}

div button {
    background-color: #5bacc3;
    border: transparent;
}

div button a {
    font-size: 1.3125rem;
    font-weight: 400;
    color: white;
    text-decoration: none;
}

.price {
    color: #5bacc3;
    /* 300 in guide but looks like 400 */
    font-weight: 400;
}

.discount {
    font-size: 2.8125rem;
    font-weight: 400;
    background-color: #393939;
    color: white;
    margin-top: 0em;
    min-width: min-content;
    max-width: 90%;
    text-align: center;
}

.discount span {
    font-weight: 700;
}

footer {
    background-color: #fff0ed;
}