html {
    font-family: "Open Sans";
}

.icon {
    max-width: 7.5rem;
    min-width: 3.125rem;
}

nav h3 a{
    text-decoration: none;
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
}

nav ul li a{
    font-size: 1.3125rem;
    font-weight: 400;
}

nav ul {
    list-style: none;
}

nav h1 {
    text-decoration: none;
    font-size: 3.75rem;
    font-weight: 300;
    color: white;
    text-align: center;
}
.menu {
    background-color: #393939;
    min-width: 17.5rem;
    min-height: 11.25rem;
    max-width: 18.75rem;
    max-height: 12.5rem;
}
.nav-link {
    min-width: 100%;
    max-width: 100%;
    text-align: center;
    background-color: #393939;
}

.nav-link ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.3125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.background {
    background-image: url("../assets/images/coffee-circle.jpg");
    min-width: 100%;
    max-width: 100%;
    min-height: 35.9375rem;
    max-height: 37.5rem;
    background-position: center;
    background-size: cover;
}

section h2 {
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
}

section h3 {
    font-size: 2.0625;
    font-weight: 300;
    text-align: center;
}

.price {
    font-size: 1.125;
    font-weight: 400;
    text-align: center;
    color: #5bacc3;
    width: 100%;
    font-style: normal;
}

section p {
    font-size: 1.125;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    width: 35%;
}

#hot-drinks, #pastries {
    background-color: #fff0ed;
}

#cold-drinks {
    background-color: #f7f7f7;
}