.nav {
    background-color: #fff0ed;
}

.nav-menu__title {
    text-decoration: none;
    font-size: 3.75rem;
    font-weight: 300;
    color: white;
    text-align: center;
    margin-top:20%;
}
.nav-menu {
    background-color: #393939;
    min-width: 17.5rem;
    min-height: 11.25rem;
    max-width: 18.75rem;
    max-height: 12.5rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.nav-link {
    min-width: 100%;
    max-width: 100%;
    min-height: 3.75rem;
    max-height: 5rem;
    text-align: center;
    background-color: #393939;
}

.nav-link__list {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-link__item{
    box-sizing: border-box;
    border-left: 0.25em solid #5bacc3;
    padding: 0 1.25rem;
    margin: 1.25rem 0;
}

.nav-link__item a {
    color: white;
    text-decoration: none;
    font-size: 1.3125rem;
    font-weight: 400;
    text-transform: uppercase;
}

.background {
    background-image: url("../assets/images/coffee-circle.jpg");
    min-width: 100%;
    max-width: 100%;
    min-height: 35.9375rem;
    max-height: 37.5rem;
    background-position: center;
    background-size: cover;
    position: relative;
}

.menu-category__title {
    font-size: 3.75rem;
    font-weight: 300;
    text-align: center;
    margin-top: 0em;
    padding-top: 1.5rem;
}

.menu-category__subtitle{
    font-size: 2.0625rem;
    font-weight: 300;
    text-align: center;
    margin: 0;
    color: #393939;

}

.menu-category__price {
    font-size: 1.125rem;
    font-weight: 400;
    text-align: center;
    color: #5bacc3;
    width: 100%;
    font-style: normal;
    padding-bottom: 1rem;
}

.menu-category p {
    font-size: 1.125rem;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
    color: #393939;

    /* cant figure out what this is? */
    width: 31rem;
}

.menu-category {
    padding-bottom: 2rem;
}

#hot-drinks, #pastries {
    background-color: #fff0ed;
}

#cold-drinks {
    background-color: #f7f7f7;
}