$font-light: 300;
$font-medium: 400 + 200;
$font-heavy: 700;
$font-size-default: 1rem;
$font-xsmall: 1.125*$font-size-default;
$font-small: 1.3125*$font-size-default;
$font-large: 2.0625*$font-size-default;
$font-xlarge: 3.75*$font-size-default;