@use "./mixins" as *;
@use "./font-details" as *;
@use "./colours" as *;

html {
    font-family: "Open Sans"; 
}
body {
    margin: 0;
}

.icon {
    max-width: 7.5rem;
    min-width: 3.125rem;
}

.nav {
    @include flex-list;
    padding-left: 1.5rem;
    &__list {
        @include flex-list;
        justify-content: flex-end;
        width: 100%;
    }
    &__title a{
        text-decoration: none;
        font-size: $font-xlarge;
        font-weight: $font-light;
        color: $graphite;
    }
}

.header__link {
    a {
        font-size: $font-small;
        font-weight: $font-medium;
        text-decoration: none;
        color: $graphite;
        /* margin-right: 2rem; */
        padding-right: 2rem;
        padding-left: 1rem;
    }
    &--blue a{
        color: $nitro-blue;
    }
}
