@mixin title-spc {
    font-size: 3.75rem;
    font-weight: 300;
    color: #393939;
}

@mixin detail-spc {
    font-size: 1.125rem;
    font-weight: 400;
}

@mixin flex-list {
    display: flex;
    list-style: none;
    align-items: baseline;
}